VITE_AUTH_API_URL=http://localhost:5227
VITE_USER_API_URL=http://localhost:5200
VITE_SUPPORT_API_URL=http://localhost:5093
VITE_ADMIN_API_URL=http://localhost:5110
VITE_API_TIMEOUT_MS=10000
VITE_API_RETRY_DELAY_MS=5000
